*{
    font-family: 'Noto Sans KR';
    list-style: none;  
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: black;
}

.line{
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 32px;
    position: absolute;
}

.header{
    align-items: center;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 32px;
    justify-content: space-between;
}

.swiper {
    width: 600px;
    height: 300px;
  }

.nav{
    display: flex;
    margin: 10px 0;
    padding: 0 32px;
}

.nav > li{
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    color: #616568;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px;
}

.nav > li:first-child{
    position: relative;
    margin: 0px;
}

.nav li+li::before{
    content: "|";
    color: #D7D7D7;
    padding: 0 8px;
}

.container{
    align-items: center;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 80px;
    justify-content: space-between;
    color: #4a4a4a;
}

.content_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    margin-right: 0;
}

.navbar_left{
    display: flex;
    height: 100%;
    padding: 0px 10px;
    align-items: center;
    justify-content: flex-start;
}

.navbar{
    display: flex;
    height: 100%;
}

/* .navbar >  li{
    display: flex;
    height: 26px;
    margin: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    letter-spacing: -0.04em;
    margin-left: 56px;
}

.navbar > li:first-child{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    align-items: center;
} */

.dropdownmenu {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #fff;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdownmenu{
  color: #3e8e41;
}
.dropdownmenu_2 {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #fff;
}
.dropdown_2 {
  position: relative;
  display: inline-block;
}
.dropdown-content_2 {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}
.dropdown-content_2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content_2 a:hover {background-color: #f1f1f1}
.dropdown_2:hover .dropdown-content_2 {
  display: block;
}
.dropdown_2:hover .dropdownmenu_2{
  color: #3e8e41;
}

.dropdownmenu_3 {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #fff;
}
.dropdown_3 {
  position: relative;
  display: inline-block;
}
.dropdown-content_3 {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}
.dropdown-content_3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content_3 a:hover {background-color: #f1f1f1}
.dropdown_3:hover .dropdown-content_3 {
  display: block;
}
.dropdown_3:hover .dropdownmenu_3{
  color: #3e8e41;
}

.dropdownmenu_4 {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #fff;
}
.dropdown_4 {
  position: relative;
  display: inline-block;
}
.dropdown-content_4 {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}
.dropdown-content_4 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content_4 a:hover {background-color: #f1f1f1}
.dropdown_4:hover .dropdown-content_4 {
  display: block;
}
.dropdown_4:hover .dropdownmenu_4{
  color: #3e8e41;
}

.search_bar{
    border-color: #b5b5b5;
    display: flex;
    border-radius: 3px;
    box-shadow: none;
    background: #f6f6f6;
    color: #5f5f5f;
    padding: 6px 8px;
    align-items: center;
}

input[type=text_1]{
    border: none;
    display: inline-block;
    background: #f6f6f6;
    outline-style: none;
}

.navbar_right{
    display: flex;
    height: 100%;
    padding: 0 10px;
    align-items: center;
}

.button_1{
    border: 1px solid #dbdbdb;
    padding: 3px 6px;
    margin: 0 10px 0;
    border-radius: 4px;
}

.button_2{
    border: 1px solid;
    background-color: #ff7867;
    color: #fff;
    padding: 3px 6px;
    border-radius: 4px;
}

#index_01{
    display: flex;
    width: 1920px;
    height: 369px;
    margin: 0 auto;
    justify-content: center;
}

#header1{
    box-sizing: border-box;
}

#slide1{
    height: 369px;
    overflow: hidden;
}

#slide1>ul{
    display: inline-block;
    font-size: 0;

}

#slide1>ul>li{
    display: inline-block;
    font-size: 0;
}

.search{
    align-items: center;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top: 48px;
    justify-content: center;
}

.search_wrapper{
    border-radius: 30px;
    height: 50px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(29,192,120,.12);
    border: 1px solid rgba(29,192,120,.24);
    margin-bottom: 20px;
}

.title_1{
    display: flex;
    font-size: 25px;
    margin-bottom: 20px;
    justify-content: center;
}

.input[type="text_2"] {
    background-color: none;
    border: none;
    display: inline-block;
    background:none;
    height: 50px;
    width: 190px;
    outline-style: none;
    margin-left: 20px;
  }

.icon2{
    background-color: none;
    border: none;
    display: inline-block;
    background: none;
    align-items: center;
    display: flex;
    margin-right: 20px;
    width: 20px;
}

.tag-section{
    align-items: center;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
}

.tag-item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -.3px;
    font-size: 12px;
    margin: 4px;
    padding: 0 12px;
    height: 28px;
    color: #3e4042;
    font-weight: 500;
    border-radius: 20px;
    background: #f1f3f5;
    
}

.title_2{
    font-size: 25px;
}

.content_3{
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    flex-direction: column;
}

.lecture{
    align-items: center;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    justify-content: space-between;
}

.subtext_2{
   margin-top: 10px;
   font-size: 15px;
   color: #757575;
   display: inline;

}

.swiper-lazy{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 231.2px;
}

.footer{
    margin-top: 80px;
    background-color: #282828;
}

.footer_inner{
    margin: auto;
    align-items: center;
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 70px;
}

.footer_text{
    color: #FFF;
}

.footer_inner > li:first-child{
    position: relative;
    margin: 0px;
}

.footer_inner li+li::before{
    content: "|";
    color: #D7D7D7;
    padding: 15px;
}

:root {
    --blue: #3498db;
    --dark-blue: #2980b9;
    --grey: #333;
    --light-grey: #3b3b3b;
  }
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.side_bar{
    display: flex;
}

.menu {
    width: 15rem;
    border-radius: 0.2rem;
    overflow: hidden;
}
.menu a {
    text-decoration: none;
}

/* .menu a::before {
    content: '>';
    display: inline-block;
} */

.menu a:before:first-child{
    content: none;
}

.menu-item {
    list-style: none;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    overflow: hidden;
}

.btn {
    display: block;
    padding: 1rem 1.2rem;
    background: #f4f4f4;
    color: #595959;
    position: relative;
}

.btn i {
    margin-right: 1rem;
}

.menu-item__sub {
    background: var(#fafafa);
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

.menu-item__sub a {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;    
    display: block;
    padding: 1rem 1.6rem;
    color: #595959;
    font-size: 0.9rem;
    position: relative;
    border-bottom: 1px solid var(#fafafa);
}
.menu-item__sub a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0.4rem;
    height: 100%;
    background: var(--dark-blue);
    transform: translatex(-0.4rem);
    transition: 0.3s;
    opacity: 0;
}
.menu-item__sub a:hover::before {
    opacity: 1;
    transform: translatex(0);
}

.menu-item:target .menu-item__sub {
    max-height: 30em;
}

.content_5{
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.search_2{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
}

.title_2{
    display: flex;
    padding: 0 10px;
    font-size: 25px;
    margin-bottom: 10px;
}

.input[type="text_3"] {
    background-color: none;
    border: none;
    display: inline-block;
    background:none;
    height: 50px;
    width: 190px;
    outline-style: none;
    margin-left: 20px;
}

.icon3{
    background-color: none;
    border: none;
    display: inline-block;
    background: none;
    align-items: center;
    display: flex;
    margin-right: 20px;
    width: 20px;
}

.search_3{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
}

.title_3{
    display: flex;
    padding: 0 10px;
    font-size: 25px;
}

.occupation{
    display: flex;
    width: 910px;
    position: absolute;
    margin: 10px;
}

.button_occupation:first-child{
    margin: 10px 10px 0 0;
}

.button_occupation{
    display: flex;
    justify-content: center;
    width: 160px;
    height: 80px;
    margin: 10px;
    align-items: center;
    border: none;
}

.search_4{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.title_4{
    display: flex;
    font-size: 25px;
    margin: 30px;
} 

.list_lecture{
    font-size: 25px;
    background-color: #e7e7e7;
    padding: 20px 300px;
    display: flex;
}

.title_5{
    display: flex;
    font-size: 25px;
    margin: 20px;
    flex-direction: column;
}

.explanation{
    font-size: 18px;
    display: flex;
    margin-left: 20px;
    line-height:30px;
    margin-bottom: 20px;
}

.menu-item:target{
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;    
    display: block;
    color: #595959;
    font-size: 0.9rem;
    position: relative;
    border-bottom: 1px solid var(#fafafa);
}


.chk_box {
    display: block;
    width: 200px;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chk_box input[type="checkbox"] { 
    display: none;
    position: absolute;
}

.check{
    display: flex;
    margin: 10px;
}

.on {
    width: 20px;
    height: 20px;
    background: #ddd;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
}

.chk_box input[type="checkbox"]:checked + .on {
    background: #f86480;
}

.on:after {
    content: "";
    position: absolute;
    display: none;
}

.chk_box input[type="checkbox"]:checked + .on:after {
    display: block;
}

.on:after {
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 6px; top: 2px;
  }
